body {
  font-family: 'Poppins', sans-serif;
}

#resumePreview {
  min-height: 400px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #resumePreview, #resumePreview * {
    visibility: visible;
  }
  #resumePreview {
    position: absolute;
    left: 0;
    top: 0;
  }
}
